
:root{

--section-spacing:7rem;
--paragraph-size:1rem;
--eerie-black:#1D2120;
--snow:#FDF5F5;
--black:#000000;
--white:#FFFFFF;
--gunmetal:#242C2A;

}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Montserrat;
}

body,html{
    width:100%;
    height:100%;
    background:var(--snow);
    padding-top:30px;
}

img{
    max-width:100%;  /*object-fit: cover only works when you give the image both width and height.*/
    height:auto;
    display:block;
   
}
a{
    text-decoration:none;
    color:black;
}
a.btn:not(nav a.btn){
   width:350px;
    
     padding:1.5rem;
    border-radius:13px;
    font-size:1.3rem; 
}
nav a{
    opacity:1;
    transition:color 0.5s ease;
}

nav a:hover{
    color:#1D4734;
}

p{
    line-height:1.7;
}
.hero{
    display:flex;
    align-items:center;
   max-width:100%;
   width:100%;
   min-height:600px;
  
    
}



.hero-image img{
    max-width:1000px;
    width:100%;
    height:700px;
    object-fit:cover;
  
}
   
.hero-image{
    max-width:1000px;
    width:100%;
    height:700px;
    object-fit:contain;
    
   
}




nav {
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:0;
    padding:0;
  
    
}
header{
    background:var(--white);
    top:0;
    position:fixed;
    max-width:100%;
    width:100%;
    z-index:999;
    padding-bottom:1rem;
   
}


ul{
    display:flex;
    gap:3rem;

}
ul a{
    font-weight:600;
}
nav li{
    list-style:none;
}

p{
    line-height:1.8;
}

.hero p{
    color:var(--white);
    font-size:1.5rem;
    font-weight:500;
}
nav a,li{
    color:var(--black);
    text-decoration: none;
    text-transform: capitalize;
    font-size:1rem;
    font-family:Montserrat;
}
.hero-info{
 background:var(--gunmetal);
 width:100%;
 max-width:900px;
 height:700px;
 display:flex;
 align-items:center;
 justify-content:center;
}






.image{
    position:relative
}
.image-info{
    background:#1D4734;
    color:var(--white);
    position:absolute;
    bottom:0;
    max-width:600px;
    width:100%;
    cursor:pointer;
   
    
}
.oda-logo img{
    width:200px;
    height:50px;
    object-fit:cover;
}

.image-info p{
    text-transform: capitalize;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem;
    padding:0.5rem;
    font-size:1.3rem;
    font-weight:700;
    text-transform: uppercase;
   
}

h1{
   font-family: 'Montserrat';
    font-size:5rem;
    color:var(--white);
    text-transform:uppercase;
    font-weight:900;
}
h2{
    font-size:3rem;
    font-family:'Montserrat'; 
    color:var(--gunmetal);
    text-align: center;
    text-transform:uppercase;
    margin-bottom: 2rem;
    margin-top:2rem;
    font-weight:900;
}

h3{
    text-transform:capitalize;
    font-family: 'Montserrat';
    font-size:1.5rem;
}

section{
    margin-bottom:var(--section-spacing);
}

.section-info{
    font-size:1.5rem;
    color:#1D4734;
    width:1000px;
    text-transform:uppercase;
    font-weight:700;
    margin:auto;
    text-align:center;
    margin-bottom:4rem;

}

a.btn, .hero a.btn, a.bttn {
    opacity:1;
    transition: background-color 0.6s ease, color 0.6s ease;
   
}
.mission-wrapper article{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.mission-wrapper a.btn{
    margin:2rem;
    max-width:70%;
    width:100%;
    border-radius:13px; 
}

a.btn:hover,
.hero a.btn:hover,
a.bttn:hover
{
    background:var(--black);
    color:var(--white);
}
.booking-info{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:3rem;
    justify-content:center;
    padding:2rem;
}
.booking .image{
    padding:2rem;
}
.booking{
    max-width:100%;
    width:100%;
    display:flex;
    justify-content: center;
    gap:4rem;
   margin-bottom:2rem;
   
}
.booking img{
    width:500px;
    height:300px;
    object-fit:cover;
}
.booking-info a.btn{
    max-width:350px;
    width:100%;
     padding:1.5rem;
    border-radius:13px;
    font-size:1.3rem;
}
.round{
    border-radius:100%;
    
}
.parallax{
    background-image: url(images/parallax.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position:relative;
    width:100%;
    height:600px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.parallax::before{
        content:"";
        position:absolute;
        inset:0;/*top: 0; right: 0; bottom: 0; left: 0;*/;
        background:rgba(0, 0, 0, 0.5); /* dark overlay */;
        z-index:1;


}

.parallax >*{
        z-index:2;
        position:relative;
        color:var(--white);
        font-size:2rem;
        max-width:1000px;
        width:100%;
        font-weight:700;
        text-align:center;
        text-transform: uppercase;
       
}

.special{
    font-size:4.6rem;
    font-family: Montserrat;
    font-weight:900;
    text-transform: uppercase;
}
.proof img{
    width:300px;
    height:auto;
    object-fit:cover;
}

.text-info{
    
    font-size:1.5rem;
}

.proof{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background:var(--white);
    padding:1rem;
    max-width:100%;
    min-height:500px;
    background:gainsboro;
}
.text{
    display:flex;
    flex-direction:column;
    gap:2rem;
    max-width:700px;
    width:100%;
}

.hero-content a.btn{
    background:var(--snow);
    color:var(--black);
    max-width:350px;
    width:100%;

    text-transform:capitalize;
    font-weight:700;
    padding:1.5rem;
    border-radius:13px;
    font-size:1.3rem;
    }

    .hero-content{
    
    display:flex;
    max-width:900px;
    width:100%;
    flex-direction:column;
    gap:3rem;
    padding:2rem;
    margin:2rem;
   
}

.hero-content p{
    max-width:800px;
    width:100%;
}

a.btn{
   background :#1D4734;
   border:none;
    color:var(--white);
    text-align:center;
    padding:13px 14px;
    max-width:150px;
    width:100%;
    font-weight:700;
    text-transform:capitalize;
}
.offer-info{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    max-width:1300px;
    margin:auto;
    place-items:center;
   gap:2rem;
}
.offer-info img{
    width:600px;
    height:500px;
    display:block;
    object-fit:cover;
}
   

.value-wrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
  
    max-width:1300px;
    width:100%;
   justify-content:space-between;
   gap:2rem;
   margin-bottom:2rem;
   margin:auto;
  
}



.value-wrapper article{
  
}

.value-wrapper a.btn{
    display:block;
    
  
}
.box-para{
    font-size:1rem;
    line-height:1.7;
}
.icons-box{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:3rem;
    height:500px;

  border: 3px solid #1D4734 ; /* Light border */
  border-radius: 12px;    /* Rounded corners */
  padding:20px;
  background-color: #fff; /* Optional: white cards */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06); /* Soft shadow */
  transition: transform 0.3s ease;
  cursor:pointer;
  border:1px solid #ddd;
   border: 2px solid #1D4734 ;
}






.icons-box img{
    max-width:200px;
    width:100%;
    object-fit:cover;
    display:block;
    
}
.icons-box p{
    max-width:500px;
    width:100%;
    margin-bottom:3rem;
    
}

footer{
    background:var(--gunmetal);
   padding: 2rem;
    color:var(--white);
}

.contacts{
    display:flex;
    flex-direction:column;
}
.bold{
    font-weight:700;
    color:var(--white);
    text-transform: capitalize;
    font-size:1.5rem;
    margin-bottom:1rem;
}
.rights{
    text-align: center;
    margin-top:1rem;
}
.social-content{
    display:flex;
    align-items:center;
    gap:1rem;
}
.social-content i{
   
}

.links{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
}
.infos-wrapper{
    display:flex;

    justify-content:space-between;
    gap:3rem;
    border-bottom:2px solid var(--white);
    padding:3rem;
}

.fa-linkedin{
    font-size:1.5rem;
}
.slide-section img{
    width:1200px;
    height:700px;
    object-fit:cover;
    display:block;
}
.links a{
    margin-bottom:1rem;
}
.social-content i{
    font-size:2rem;
}
.links a{
    color:var(--white);
}
.social{
    display:flex;
    flex-direction: column;
}
.booking{
    color:black;
    text-align:center;
    font-size:3rem;
    margin-top:2rem;
    margin-bottom:2rem;
}
.review-wrapper{
    display:flex;
    justify-content:center;
    gap:10rem;
   

    padding:1rem;

}
.review-wrapper h3{
    margin-bottom: 2rem;
}
.stars{
    color:goldenrod;
    margin-bottom: 2rem;
}

.job{
    font-size:1rem;
    white-space: nowrap;
    color:var(--black);
    font-weight:lighter;
}
.review-wrapper article{
    max-width:600px;
    width:100%;
}

.icons-box {
  opacity: 1;
  transform: translateY(0);
}

.icons-box h3, #services article h3{
    text-transform: uppercase;
    margin-bottom:1rem;
    margin-top: 1rem;
    font-size:1.3rem;
}


.mission p{
    max-width:900px;
    width:100%;
    margin:auto;
}
.mission h3{
    text-align:center;
    margin-bottom:2rem;
    margin-top: 2rem;
}
.about-wrapper{
    display:flex;
    justify-content:center;
    gap:5rem;
}

.about-wrapper img{
    width:500px;
    height:auto;
   
}

.text-wrapper{
    display:flex;
    flex-direction:column;
    gap:3rem;
    max-width:500px;
    width:100%;
   
}
.certificates{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:3rem;
    margin-top:4rem;
}

.certificates img{
    max-width:300px;
    width:100%;
    height:150px;
    object-fit:cover;
    display:block;
}

 .culture img{
max-width:900px;
width:100%;
height:500px;
object-fit: cover;
display:block;
}

.value-text{
    color:var(--white);
    background:#1D4734;
    max-width:700px;
    width:100%;
    padding:2rem;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
   
}

.value-text h3{
    color:var(--white);
    margin-bottom:1rem;
}

.bttn{
    background:goldenrod;
    color:black;
    border:none;
    font-size:1.5rem;
    max-width:450px;
    width:100%;
    
    margin:auto;
    text-align:center;
    font-weight:700;
    text-transform:capitalize;
    margin-top:4rem;
     padding:1.5rem;
    border-radius:13px;
    font-size:1.3rem;
}

.value-text p{
    line-height: 1.8;
}

.steps{
    display:flex;
    flex-direction:column;
}
.culture{
    display:flex;
    justify-content:center;
}
.culture h2{
    
}
.step-box{
    background:#1D4734;
    color:var(--white);
    max-width:100%;
    width:100%;
    min-height:500px;
    padding:2rem;
    display:flex;
    flex-direction:column;
    gap:2rem;
    align-items: center;
}

.step-box p{
  line-height: 1.8;
  font-weight: 500;
  max-width:700px;
  width:100%;
  font-size:1.2rem;
}

.centered{
    text-align:center;
}

.step-box img{
    width:100px;
    height:auto;
    fill:var(--white);
}

svg{
    fill:var(--white);
}
.step-wrapper{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:3rem;
    max-width:1300px;
    width:100%;
    margin:auto;
    
    
}

.number{
    font-weight:900;
    font-size:4rem;
    text-align:center;
}
.span-2{
grid-column: span 2;
}

.mission-wrapper{
    display:flex;
    gap:2rem;
    max-width:1300px;
    width:100%;
    margin:2rem auto;

}

.mission-wrapper article{
    max-width:800px;
    width:100%;
    background:var(--white);
    justify-content: center;
    box-shadow:0 4px 12px rgba(0, 0, 0, 0.1);
    padding:2rem;
}

.contact-form{
    display:flex;
    justify-content:center;
    max-width:100%;
    width:100%;
    gap:6rem;
    padding:2rem;
    background:gainsboro;
}

.contact-para{
    max-width:600px;
    width:100%;
}

form{
    max-width:600px;
    width:100%;
    background:var(--white);
    padding:2rem;
    box-shadow:0 4px 12px rgba(0, 0, 0, 0.1);
}
.offer-info a{
    color:var(--white);
}
.contact-info i{
    font-size:2.5rem;
}
.contact-info h3{
    margin-bottom:1rem;
}

form div{
display:flex;
flex-direction:column;
}
input[type="text"]{
   max-width:400px;
   width:100%;
    padding:1rem;
    margin-bottom:1rem;
}
textarea{
    width:400px;
    max-width:100%;
    margin-bottom:2rem;
    padding:1rem;
   
}
label{
    font-weight:600;
    margin-bottom:1rem;
}

form .btn{
display:block;
margin:auto;
}
.contact-info{
    display:flex;
    flex-direction:column;
    gap:1rem;
    max-width:500px;
    width:100%;
}

.social-wrapper{
    display:inline-flex;
    gap:1rem;
}
.tel{
    font-size:2rem;
}

.slider-wrapper{
    max-width:1200px;
    width:100%;
    height:400px;
    margin: auto;
    position:relative;
    overflow:hidden;
   
}
.slide{
    height:500px;
    width:1200px;
    object-fit:cover;
}

.slider{
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slider .image {
  width: 1200px;
  flex-shrink: 0;
  position: relative;
}

.slider .image img {
  max-width: 100%;
  width:100%;
  height: 500px;
  object-fit:cover;
  object-position: center;
}

.image-title{
    position:absolute;
    top:2rem;
    background:#1D4734;
    color:var(--white);
    padding:1.5rem;
    font-weight:900;
}

.start-wrapper article{
    display:flex;
    flex-direction:column;
    background:#1D4734;
    color:var(--white);
    padding:1rem;
    max-width:400px;
    width:100%
}
.start-wrapper{
    display:grid;
    max-width:1300px;
    width:100%;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    margin:auto;
}

.start-wrapper h3{
    margin-bottom:1rem;
}
.start-wrapper p{
    text-transform:lowercase;
    max-width:500px;
    width:100%;
}
.center{
    text-align:center;
    max-width:600px;
    width:100%;
    margin:1rem auto;
    font-size:1.2rem;
}

#services article{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1rem;
    background:var(--white);
    padding:1rem;
    box-shadow:0 4px 12px rgba(0, 0, 0, 0.1);
    max-width:500px;
    width:100%;
    min-height:700px;
     border: 2px solid #1D4734 ;
}

#services article p{
    max-width:400px;
    width:100%;
}
.services-wrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
    max-width:1000px;
    width:100%;
    margin:auto;
    place-items:center;
}

#services article a.btn{
    margin-top:auto;
    margin-bottom:2rem;
    max-width:100%;
    width:100%;

}
#services article img{
    width:150px;
    height:200px;
    object-fit:contain;
}

h3{
    white-space: nowrap;
}



#services {
  scroll-margin-top: 80px; /* adjust based on nav height */
}
    
@media screen and (max-width:480px){
    .hero-content a.btn{
        font-size:0.3rem;
    }

.center{
    font-size:1rem;
    padding:1rem;
}


}



        @media screen and (max-width:767px){
             .hero{
                display:flex;
                flex-direction:column;
               padding-top:90px;
              
                
             }

              .center{
    font-size:1rem;
    padding:1rem;
}


            
            .hero img{
                width:100%;
                height:auto;
            }
               nav{
                display:flex;
                flex-direction:column;
               }
           .hero h1{
            font-size:3rem;
           }
           
          
           h2{
            font-size:1.7rem;

           } 

           .hero-info{
              max-height: 600px;
              margin-top:90px;
  
           }
        .section-info{
            font-size:1rem;
            width:90%;
        }
        .offer-info{
            display:grid;
            grid-template-columns: 1fr;
        }
        .offer-info img{
            width:100%;
            height:300px;
        }
        
      .review-wrapper, .proof{
        display:flex;
        flex-direction:column;
        margin:auto;
        padding:1rem;
      }

      .value-wrapper{
        display:grid;
        grid-template-columns: 1fr;
      }
    
    .special{
        font-size:2.3rem;
    }
    .image-info p{
        font-size:0.7rem;
    }
   .text-info{
    font-size:0.9rem;
   } 
  nav ul{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1rem;
  }
.infos-wrapper{
    display:flex;
    flex-direction:column;

}
.hero-content p{
    
    font-size:1rem;
}
   
.hero-content{
    align-items: center;
}

.booking{
    display:flex;
    flex-direction: column;
    padding:1rem;
    gap:1rem;
}

.mission-wrapper, .about-wrapper, .culture{
    flex-direction:column;
}

.step-wrapper{
    display:grid;
    grid-template-columns: 1fr;
    width:100%;
}

.step-box.span-2{
    grid-column: span 1;
}

.step-box{
    width:100%;
    height:auto;
}
.step-box h3{
    font-size:1rem;
}

.step-box p{
    font-size: 0.9rem;
   text-align:center;
}

a.bttn, a.btn, .btn, .booking-info a.btn{
    font-size:0.8rem !important;
    padding:0.8rem !important;
    width:100%  !important;
}
a.btn{
   margin:auto;
}

.culture img{
    width:100%;
    height:auto;
}
.value-text{
    font-size:1rem;
    text-align:center;
}
  .text-wrapper{
    padding:1rem;
  }

.centered{
    font-size:1.2rem;
}



.slide img{
    width:100%;
    height:auto;
    object-fit:contain;
}

.start-wrapper, .services-wrapper{
    display:grid;
    grid-template-columns: 1fr;
}
 .services-wrapper p{
    font-size:0.9rem;
   
 }           
.services-wrapper h3{
    font-size:1.2rem;
}
.review-wrapper h3{
    display:flex;
    flex-direction:column;
    
}
  .contact-form{
    display:flex;
    flex-direction:column;
  }

  .tel{
    font-size:1.5rem;
  }

.parallax-content p{
    font-size:1rem;
    padding:1rem;
}
 a.bttn{
    width:70% !important;
}
        
}







@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero {
    flex-direction: row;
    align-items: center;
    width:100%;
  }
  .hero-content{
    padding:1rem;
  }

  .hero-content p{
    font-size:1rem;
  }
 .section-info{
    font-size:1.5rem;
    width:80%;
 }
  h1{
    font-size:2.5rem;
  }
  .offer-info{
    margin:auto;
  }
.image-info p{
    font-size:1rem;
}
.special{
    font-size:2.5rem;
}
.text-info{
    width:70%;
}

.review-wrapper h3{
    display:flex;
    flex-direction:column;
    
}
  .bold{
    font-size:1rem;
  }

a.bttn, a.btn{
    font-size:0.9rem;
    padding:0.8rem;
    
}

.step-box h3{
    font-size:1.2rem;
}

.step-box p{
    font-size: 0.8rem;
   
   width:80%;
}




}
